<ng-progress></ng-progress>
<div class="container mt-3 w-80 mx-auto " *ngIf="allCategories && (allDeletedCategories$ | async)" >
    <!-- <h1 class="text-center display-3 mx-auto">Categories</h1> -->
    <h1 class="mt-3 mb-3 text-center font-weight-bold display-5">Categories</h1>
    <hr class="my-2 mb-5 col-md-6">
    <!-- <hr class="display-3" /> -->

  <h3 class="mt-3 mb-3 text-center font-weight-bold display-5">Add Category</h3>
  <hr class="my-2 mb-3 col-md-6">

    <form #createForm="ngForm" (ngSubmit)="create(createForm)" class="mb-5 ">
      <div class="form-group col-md-4 mx-auto ">
          <div class="form-group">
          <label for="name">Category Name</label>
          <input 
              type="text" 
              class="form-control" 
              id="name"
              name="name" 
              [(ngModel)]="category.name"
              #nameField="ngModel"
              ngModel
              required
          >
          <div class="alert alert-danger" *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)">
            <div *ngIf="nameField.errors.required">Category Name is required.</div>
          </div>
        </div>
      </div>

      <button 
        type="submit" 
        class="btn btn-success"
        [disabled]="!createForm.form.valid">
        Add Category
      </button>

      <hr class="my-2 mb-3 mt-5 col-md-6">

    </form>



  <table class="table table-hover  mt-3 w-80 mx-auto ">
    <thead>
      <tr class="row">
        <th class="col-md-2" scope="col">#</th>
        <th class="col-md-4" scope="col">Category Name</th>
        <th class="col-md-6" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr class="row" *ngFor="let item of allCategories; index as i" > 
        <td class="col-md-2" scope="col">
          <h5>{{i+1}}</h5>
        </td>
        <td class="col-md-4" scope="col">
            <input 
            type="text" 
            class="form-control" 
            id="name"
            name="name" 
            [(ngModel)]="item.name"
            #nameField="ngModel"
            ngModel
            required
        >
        <div class="alert alert-danger" *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)">
            <div *ngIf="nameField.errors.required">Category Name is required.</div>
          </div>
          <!-- <h5>{{item.name}}</h5> -->
        </td>
        <td class="col-md-6 d-flex justify-content-center" scope="col">

          <h5>
            <button class="btn btn-warning m-1"  (click)="editCategory(item.id, item.name)">edit</button>
          </h5>
          <h5>
            <button class="btn btn-danger m-1" (click)="deleteCategory(item.id, item.name)">disable</button>
          </h5>
        </td>
      </tr>

    </tbody>
  </table>

<hr class="display-5" />

<h1 class="text-center mt-5 mb-3 display-5 mx-auto font-weight-bold text-danger">Disabled Categories</h1>
<hr class="my-2 mb-3 col-md-6">

        
    <table class="table table-hover  mt-3 w-80 mx-auto" *ngIf="(allDeletedCategories$ | async)?.length; else loading">
      <thead>
        <tr class="row">
          <th class="col-md-2" scope="col">#</th>
          <th class="col-md-4" scope="col">Category Name</th>
          <th class="col-md-6" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr class="row" *ngFor="let item of allDeletedCategories$ | async; index as i" > 
          <td class="col-md-2" scope="col">
            <h5>{{i+1}}</h5>
          </td>
          <td class="col-md-4" scope="col">
            <h5>{{item.name}}</h5>
          </td>
          <td class="col-md-6 d-flex justify-content-center" scope="col">

            <h5>
              <button class="btn btn-success m-1" (click)="restore(item.id)" *ngIf="!isRoot(item.role)  && !isLoggedInUser(item.username)">Enable Category</button>
            </h5>
          </td>
        </tr>

      </tbody>
    </table>
    <ng-template #loading>
        <h3 class="mt-5 mb-5 mx-auto display-5 text-center text-info">No disabled Categories. </h3>
      </ng-template>

      <hr class="display-5 mb-5 " />

</div> 


