<!--<ul xmlns:th="http://www.thymeleaf.org">-->
    <!--&lt;!&ndash;/*@thymesVar id="viewModel" type="org.softuni.demo.entities.Student[]"*/&ndash;&gt;-->
    <!--&lt;!&ndash;/*@thymesVar id="student" type="org.softuni.demo.entities.Student"*/&ndash;&gt;-->
    <!--<th:block th:each="student : ${viewModel}" th:object="${student}">-->
        <!--<li>-->
            <!--<div>-->
                <!--<a th:href="@{/students/details/{id}(id=*{id})}">-->
                    <!--<h3 th:text="*{name}"></h3>-->
                <!--</a>-->
            <!--</div>-->
        <!--</li>-->
    <!--</th:block>-->
<!--</ul>-->


<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns="http://www.w3.org/1999/xhtml"&ndash;&gt;-->
      <!--&lt;!&ndash;xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
    <!--&lt;!&ndash;<th:block th:include="fragments/head"></th:block>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
    <!--&lt;!&ndash;<th:block th:each="student : ${students}" th:object="${student}">&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<div>&ndash;&gt;-->
                <!--&lt;!&ndash;<a th:href="@{/students/details/{id}(id=*{id})}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3 th:text="*{name}"></h3>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</th:block>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->