<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Profile Page</h1>
      <p>Listing your furniture.</p>
    </div>
  </div>
  <div class="row space-top">
    <div class="col-md-4" *ngFor="let item of furnitures | async">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <img src="{{item.image}}" />
            <p>{{item.description}}</p>
            <div class="pull-right">
              <a class="btn btn-info" routerLink="/furniture/details/{{item.id}}">Details</a>
              <!-- <a href=”#” class="btn btn-danger">Delete Item</a> -->
              <a class="btn btn-danger" routerLink="/furniture/delete/{{item.id}}">Delete Item</a>
              <!-- <a class="btn btn-danger" (click)="delete(item.id)">Delete Item</a> -->
              <a class="btn btn-warning  m-2" routerLink="/furniture/edit/{{item.id}}">Edit</a>

            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
