<div class="container">
  <!-- <p>{{car | json }}</p> -->
  <!-- <h3 class="alert alert-danger" *ngIf="!success;else successTemplate">{{message}}</h3>
  <ng-template #successTemplate>
    <h3 *ngIf="success&&message" class="alert alert-success">{{message}}</h3>
  </ng-template> -->

  <h1 class="mt-5 mb-5" >Create Car</h1>

  <form #createCarForm="ngForm" (ngSubmit)="createCar(createCarForm)">

     <div class="form-group">
        <label for="make">Make</label>
        <input 
          type="text" 
          class="form-control" 
          id="make"
          name="make"
          [(ngModel)]="car.make"
          #makeField="ngModel" 
          required
          >
          <div class="alert alert-danger" [hidden]="makeField.valid || makeField.pristine ">Make is required!</div>
      </div> 

    <div class="form-group">
        <label for="model">Model</label>
        <input 
        type="text" 
        class="form-control" 
        id="model"
        name="model"
        [(ngModel)]="car.model"
        #modelField="ngModel" 
        required>
        <div class="alert alert-danger" [hidden]="modelField.valid || modelField.pristine ">Model is required!</div>
      </div>
      
    <button 
        type="submit" 
        class="btn btn-success" 
        [disabled]="!createCarForm.form.valid">
      Create
    </button>

  </form>
  
</div>

