<!-- <ngx-spinner></ngx-spinner> -->
<div class="container" *ngIf="rackets">
  <div class="row space-top">
    <div class="col-md-12">
      <h1 class="mt-3 mb-3 text-center font-weight-bold display-5">Welcome to Tennis Shop!</h1>
      <hr class="my-2 mb-3 col-md-6">

      <p class="mt-3 mb-3 text-center font-weight-bold display-5">Select racket from the catalog to view details.</p>
      <hr class="my-2 mb-5 col-md-6">

    </div>
  </div>
  <div class="row space-top">

    <div class="col-md-4" [@list2] *ngFor="let item of rackets | paginate: {
        id: 'AllRackets',
        itemsPerPage: pageSize,
        currentPage: currentPage
      }">
      <app-racket  [racket]="item"></app-racket>
    </div>
  </div>

  <div class="mt-5">
    <pagination-controls 
    id="AllRackets" 
    (pageChange)=changePage($event) 
    maxSize="9" directionLinks="true" 
    autoHide="true" 
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination" 
    screenReaderPageLabel="page" 
    screenReaderCurrentLabel="You're on page">
      >
    </pagination-controls>
</div>
</div>
