

@import '../node_modules/ngx-toastr/toastr.css';

// @import './assets/bootstrap.min.css';

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("http://www.britishtennisshop.com/Images/ExtraLarge/head_ti_s6_tennis_racket_black.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}