<h1 class="text-center display-3">All Users</h1>
<hr class="display-3" />
<table class="table table-hover  mt-3 w-80 mx-auto ">
  <thead>
    <tr class="row">
      <th class="col-md-1" scope="col">#</th>
      <th class="col-md-3" scope="col">Username</th>
      <th class="col-md-3" scope="col">Role</th>
      <th class="col-md-5" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    <tr class="row" *ngFor="let item of allUsers | async; index as i">
      <td class="col-md-1" scope="col">
        <h5>{{i+1}}</h5>
      </td>
      <td class="col-md-3" scope="col">
        <h5>{{item.username}}</h5>
      </td>
      <td class="col-md-3" scope="col">
        <h5>{{item.role}}</h5>
      </td>
      <td class="col-md-5 d-flex justify-content-center" scope="col" >
        <h5>
          <button  class="btn btn-success m-1" (click) = "promote(item.id)" *ngIf="!isRoot(item.role) && !isLoggedInUser(item.username)">Promote</button>
        </h5>
        <h5>
          <button class="btn btn-warning m-1" (click) = "demote(item.id)" *ngIf="!isRoot(item.role)  && !isLoggedInUser(item.username)">Demote</button>
        </h5>
        <h5>
          <button  class="btn btn-secondary m-1"  routerLink="/user/details/{{item.id}}" >Details</button>
        </h5>
      </td>
    </tr>

  </tbody>
</table>


<!-- <div class="pull-right">
  <a class="btn btn-info" routerLink="/racket/details/{{item.id}}">Details</a>
  <a *ngIf="userService.isAdmin()"  routerLink="/racket/delete/{{item.id}}" class="btn btn-danger m-2">Delete</a>
  <a *ngIf="userService.isAdmin()" routerLink="/racket/edit/{{item.id}}" class="btn btn-warning m-2">Edit</a>
</div> -->