<div class="container" *ngIf="currentItem | async as item">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Racket Details</h1>
    </div>
  </div>
  <div class="row space-top">
    <div class="col-md-4">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <blockquote class="card-blockquote">
            <h5 class="text-dark">{{item.name}}</h5>
            <img src="{{item.mainImageUrl}}" />
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p>Category: {{item.categoryName}}</p>
      <p>Description: {{item.description}}</p>
      <p>Price: {{item.price}}</p>
      <p>HeadSize: {{item.headSize}}</p>
      <p>Weight: {{item.weight}}</p>
      <p>String Pattern: {{item.stringPattern}}</p>
      <img src="{{item.secondImageUrl}}" />
      <img src="{{item.thirdImageUrl}}" />
    </div>


  </div>
  <div class="d-flex justify-content-center ">
    <a class="btn btn-info m-2" routerLink="/racket/all">All Rackets</a>
    <a class="btn btn-info m-2" routerLink="/racket/my">My Rackets</a>

  </div>

  <!--Using Style Attribute -->
<!-- <div style="height:50%; width:100%;background-color:black;color:white;"></div> -->
  

  <!-- <table className="table table-bordered table-hover table-sm">
    <tbody>
      <tr>

      </tr>
      <tr>
        <td>Country</td>
        <td>Country</td>
      </tr>
      <tr>
        <td>Age</td>
      </tr>
      <tr>
        <td>Birthdate</td>
      </tr>
      <tr>
        <td>Birthplace</td>
      </tr>
      <tr>
        <td>Height</td>
      </tr>
      <tr>
        <td>Weight</td>
      </tr>
      <tr>
        <td>Residence</td>
      </tr>
      <tr>
        <td>Earnings</td>
      </tr>
    </tbody>
  </table> -->

</div>
