 <!-- ########################## -->
<!-- Loading Spinner -->
<ngx-spinner>
  <div d-flex justify-content-center>
    bdColor="rgba(51,51,51,0.8)"
    size="small"
    color="#fff"
    type="ball-8bits">
   <p  class="spinner-style">Loading...</p>
  </div>

</ngx-spinner>
 <!-- ########################## -->

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <a class="navbar-brand" routerLink="/home">Tennis Shop</a>
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/racket/all" *ngIf="userService.checkIfLoggedIn()">All Rackets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/racket/create" *ngIf="userService.checkIfLoggedIn() && userService.isAdmin()">Create Racket</a>
            </li>
            

            <li class="nav-item">
                <!-- <a class="nav-link waves-light" mdbWavesEffect routerLink="/user/details/{{item.id}}">Profile</a> -->
            </li>
           
            <!-- <li class="nav-item active" *ngIf="userService.checkIfLoggedIn()">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/racket/all">All Rackets</a>
            </li> -->

            <!-- Dropdown -->
            <!-- <li class="nav-item dropdown" dropdown  *ngIf="userService.checkIfLoggedIn()">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Rackets<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a *ngIf="userService.isAdmin()" class="dropdown-item waves-light" mdbWavesEffect routerLink="/racket/create">Create Racket</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/racket/all">All Rackets</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li> -->

             <!-- Dropdown -->
             <li class="nav-item dropdown" dropdown *ngIf="userService.checkIfLoggedIn() && userService.isAdmin()">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Admin dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a *ngIf="userService.isAdmin()" class="dropdown-item" routerLink="/user/all">All Users</a>
                    <div class="divider dropdown-divider"></div>
                    <a *ngIf="userService.isAdmin()" class="dropdown-item" routerLink="/category/all">All Categories</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav d-flex justify-content-end align-items-center">
            
            <li class="nav-item" *ngIf="!userService.checkIfLoggedIn()">
              <a class="nav-link" routerLink="user/register">Register</a>
            </li>
            <li class="nav-item" *ngIf="!userService.checkIfLoggedIn()">
              <a class="nav-link" routerLink="user/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="userService.checkIfLoggedIn()">
                <a class="nav-link" (click) = "reloadSubscribe()" routerLink="/user/details/{{userId}}">
                  <div>Hello {{username}}!</div>
                  <div>Your account</div>
                  </a>
                <!-- <a class="nav-link" [username] = "userService.getUsername()">Hello {{username}}!</a> -->
              </li>
            <li class="nav-item" *ngIf="userService.checkIfLoggedIn()">
              <!-- <a class="nav-link" (click)="logout()" routerLink="/login">Logout</a> -->
              <a class="nav-link" href="#" (click)="logout($event)" routerLink="/login">Logout</a>
            </li>  
          </ul>

        <!-- Links -->

<!-- Search form -->
        <!-- <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form> -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


