<div class="container text-center mt-5">

  <div class="jumbotron">
    <h3 class="md-display-5 h3 h3-responsive mb-3" *ngIf="userService.checkIfLoggedIn()">Hello {{username}}!</h3>
    <hr class="my-2 mb-3 mt-3 col-md-6" *ngIf="userService.checkIfLoggedIn()">

    <h2 class="h1 h1-responsive">Welcome to Tennis Shop!</h2>
    <hr class="my-2 mb-3 mt-3 col-md-6" *ngIf="!userService.checkIfLoggedIn()">

    <p *ngIf="!userService.checkIfLoggedIn()" class="lead">Please <a class="text-info" routerLink="/user/login">Login</a> or <a class="text-info" routerLink="/user/register">Register</a> if you don't have an account.</p>
    <hr class="my-2 mb-3 mt-3  col-md-6">
    <a *ngIf="!userService.checkIfLoggedIn()" class="btn btn-primary btn-lg waves-light"  routerLink="/user/login" role="button" mdbWavesEffect>Login</a>
    <a  *ngIf="!userService.checkIfLoggedIn()" class="btn btn-primary btn-lg waves-light"  routerLink="/user/register" role="button" mdbWavesEffect>Register</a>
    <a  *ngIf="userService.checkIfLoggedIn()" class="btn btn-primary btn-lg waves-light"  routerLink="/racket/all" role="button" mdbWavesEffect>Go to the Rackets</a>
  </div>

  <!-- <ng-template #unloggedUser>
    <div class="jumbotron">
      <h2 class="h1 h1-responsive">Welcome to Tennis Shop!</h2>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-2">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.
      </p>
      <a class="btn btn-primary btn-lg waves-light" role="button" mdbWavesEffect>Learn more</a>
    </div>
  </ng-template> -->


</div>
